<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://kit.fontawesome.com/49b84af18a.js" crossorigin="anonymous"></script>
    <title>Gadelampen - Vue3 JS + API services</title>
</head>
<body>
<div id="app">
  <div class="container1">
    <div class="pages">
      <div class="page one">
        <div class="row">

          <div class="col" id="col1">
            <div id="deviceOverskrift">
              <h2>Deviceinfo</h2>
    
              <div class="select-menu">
                <div class="select-btn" id="select-btn" @click="ToggleActive()">
                  <span id="text">Vælg et device</span>
                  <i class="fa-solid fa-chevron-down" id="icon-arrow"></i>
                </div>
    
                <ul class="list">
                  <li class="option" v-for="(d, index) in deviceList" @click="GetDeviceInfo(d); CloseDropDown(d);" style="--i: index;">
                    <span class="option-text" :value="d">{{d}}</span>
                  </li>
                </ul>
              </div>
            </div>
    
            <div class="card-columns mx-auto d-flex justify-content-center col-12">
              <div id="deviceInfoCard" v-show="showLampBox">
                <div class="card" style="color: #4B515D; border-radius: 35px;">
                  <div class="card-body p-4">
                    <div class="d-flex">
                      <h6 class="flex-grow-1" style="text-align:left">{{specifikDeviceCity}}, {{specifikDeviceCountry}}</h6>
                      <h6>{{specifikDeviceWatt}}W</h6>
                    </div>
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                      <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">{{specifikDevicekWh}} kWh</h6>
                      <span class="medium" style="color: #868B94">{{specifikDeviceName}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1" style="font-size: 1rem;">
                        <br>
                        <div> 
                          <img :src="stopwatchImagePath" width="35">
                          <span class="ms-1"> {{specifikDeviceTotalTime}} </span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-xs-8 col-xs-offset-2 well">
                      <table class="table table-scroll table-striped">
                        <thead>
                          <tr>
                            <th>Tændingstid</th>
                            <th>Varighed</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="d in specifikDeviceInfo">
                            <td>{{d}}</td>
                            <td>{{specifikDeviceTurnOnDuration}} sek</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>    
        <div>
          <button onClick="slide('next')" style="position:fixed; bottom:50%; right:30px"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
      </div>
      <div class="page two">
        <div class="col" id="col2">

          <div id="vejrOverskrift">
            <h2>Vejrinfo</h2>
            <div class="searchbar">
              <input type="text" v-model="searchedCityName" placeholder="Søg på bynavn for vejrinfo" @keyup.enter="GetWeatherInfo(searchedCityName)"/>
              <i class="fa-solid fa-magnifying-glass" style="color:black"></i>
            </div>
            <h6>{{error}}</h6>
          </div>
  
          <div class="card-columns mx-auto d-flex justify-content-center col-12">
            <div id="vejrInfoCard" v-show="showWeatherBox">
              <div class="card" style="color: #4B515D; border-radius: 35px;">
                <div class="card-body p-4">
                
                  <div class="d-flex">
                    <h6 class="flex-grow-1" style="text-align:left">{{city}}, {{country}}</h6>
                    <h6>{{currentTime}}</h6>
                  </div>
  
                  <div class="d-flex flex-column text-center mt-5 mb-4">
                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp}}°C </h6>
                    <span class="small" style="color: #868B94">{{weatherDescription}}</span>
                  </div>
    
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="font-size: 1rem;">
                      <div style="text-align:left">
                        <img :src="sunriseImagePath" width="30">
                        <span class="ms-1"> {{sunrise}}</span>
                      </div>
                      <br>
                      <div style="text-align:left">
                        <img :src="sunsetImagePath" alt="" width="33">
                        <span class="ms-1"> {{sunset}} </span>
                      </div>
                      <br>
                      <div style="text-align:left">
                        <img :src="binoImagePath" width="30">
                        <span class="ms-1"> {{visibility}} km </span>
                      </div>
                    </div>
                    <div>
                      <img v-if="sunrise < currentTime && currentTime < sunset" :src="sunImagePath" width="100">
                      <img v-else :src="moonImagePath" width="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
        <div>
          <button onClick="slide('prev')" style="position:fixed; bottom:50%; left: 30px;"><i class="fa-solid fa-arrow-left-long"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/index.js"> 
</script>      
</body>
</html>
